<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /jslate
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

<Files "./*">
Allow from all
Satisfy any
</Files>
